<mapper namespace="com.qhh.persistent.dao.UserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <query id="queryAllUser" resultType="com.qhh.persistent.pojo.User" >
        select * from user
    </query>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <query id="queryOneUser" resultType="com.qhh.persistent.pojo.User" paramterType="com.qhh.persistent.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </query>


</mapper>
